.modal__background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal__box {
    width: 600px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    background-color: whitesmoke;
    position: relative;
}

.box__albums{
    max-width: 400px;
}

.albums__item {
    list-style: none;
    color: #2c67cb;
    border-bottom: 1px solid darkgray;
    font-size: 16px;
}


.box__close {
    color: crimson;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 18px;
}

.box__close:hover {
    cursor: pointer;
}

@media (max-width: 767px) {
    .modal__box {
        width: 350px;
    }
}